div{
    height:100px;
    width:100px;
    text-align:center;
    line-height:100px;
}

.A{
    background-color: antiquewhite;
}

.B{
    background-color: aquamarine;
}

.C{
    background-color: burlywood;
}